@model LawSuitListVM

<button>
    <a asp-action="Create">Create</a>
</button>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Person</th>
            <th scope="col">Registration Date</th>
            <th scope="col">Expiration Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td><input type="text" /></td>
            <td><input type="date" /></td>
            <td><input type="date" /></td>
            <td>
                <select>
                    <option>Ongoing</option>
                    <option>Stalled</option>
                    <option>Rejected</option>
                    <option>Finished</option>
                </select>
            </td>
            <td><button>Search</button></td>
        </tr>
        @foreach (var item in Model.LawSuits)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Person</td>
                <td>@item.RegistrationDate</td>
                <td>@item.ExpirationDate</td>
                <td>@item.Status</td>
                <td><button>Edit</button></td>
                <td><button>Delete</button></td>

            </tr>
        }
    </tbody>
</table>