@model LawSuitListVM

<button>
    <a asp-action="Create">Create</a>
</button>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Person</th>
            <th scope="col">Registration Date</th>
            <th scope="col">Expiration Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
                <form asp-action="Index">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <select name="StatusType">
                        <option value="1">Ongoing</option>
                        <option value="4">Stalled</option>
                        <option value="3">Rejected</option>
                        <option value="2">Finished</option>
                    </select>
                </td>
                <td><input type="submit" value="search"/></td>
            </form>
        </tr>
        @foreach (var item in Model.LawSuits)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Person</td>
                <td>@item.RegistrationDate</td>
                <td>@item.ExpirationDate</td>
                <td>@item.Status</td>
                <td><button><a asp-controller="LawSuit" asp-action="Update" asp-route-id="@item.Id">Edit</a></button></td>
                <td><button><a asp-controller="LawSuit" asp-action="Delete" asp-route-id="@item.Id">Delete</a></button></td>

            </tr>
        }
    </tbody>
</table>